
   /* font-family: "Roboto", sans-serif;
    font-weight: 300;*/
    
  *{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }

  h1, h3{
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
  }
  h2{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 22px;
    
  }

  .head{

    background-color: white;
    min-height: 80px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .corsi ul{
    list-style-type: none;
    justify-items: right;
    margin: 0px;
  }

  .imagelogo{
    width: 150px;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
  }
  .corsi a{
    font-weight: 500;
    font-size: large;
    text-decoration: none;
    display: inline;
    padding-right: 20px;
  }

  .corsi a:hover{
    background-color:rgb(231, 231, 231);
    border-radius: 20px;
    margin: 0px;
    padding: 0px;
  }
  .head a{
    font-weight: 600;
    color: black;
   
    
  }
  
  
  
  
  p{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 16px;
  }
  
  

  .section{
    display: flex;
    padding: 20px;

  }


  

 
   










  

  .typ{
    background-color: rgb(241, 240, 240);
    height: 18vh;
    width: auto;
    padding-top: 30px;
    padding-left: 40px;
    margin-top: 0px;
  }

  
.link a{
  text-decoration: none;
}


.articoli{
  color: black;
  text-align: center;
  font-size: 25px;
}



.h28c{
  padding-bottom: 30px;
 
}
.h28c a{
  text-decoration: none;

}





.p1 p{
  text-align:initial;
  padding-bottom: 30px;
}

.p1 a{
  color: black;
  text-decoration: none;
}

.section{
  padding-right: 20px;
  padding-left: 40px;
}

.rilevare{
  padding-left: 20px;  
  padding-right: 20px; 
}

.major{
  background-color:rgb(247, 247, 247);
  width: 28vw;
  border: 2px;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 10px;
  border: solid white;
  margin: 10px;
}


img{
  width: 28vw;
}

.btn-custom{
  background-color: white;
  color: black;
  font-size: 16px;
  border-radius: 25px 25px 25px 25px;
  border-color: white;
  border-inline-start-color: rgb(243, 243, 152);
  font-weight: 700;
  border-style: solid;
}
button:hover{
  background-color: rgb(255, 255, 137);
}

